
$primary-color: #ffffff;
$secondary-background: #e8f4f6;

@mixin display-flex-prefix-properties {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
}

@mixin display-inline-flex-prefix-properties {
    display: -webkit-inline-box; 
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-flex; 
    display: inline-flex;
}

html {
    font-size: 100%; //16px
}


body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    // font-family: "Gotham Book";
    // font-family: "Gotham Light";
    // font-family: "Gotham Medium";
}


/*Common styles*/

a {
    text-decoration: none;
}

h1 {
    color: $primary-color;
    font-family: "Gotham Book";
    font-size: 3.4375rem;
    letter-spacing: -1px;
    line-height: 70px;

    span {
        font-family: "Gotham Medium";
    }
}

h2 {
    font-family: 'Source Sans Pro';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.5px;
    color: #6b4895;
    text-transform: uppercase;
}

h3 {
    font-family: 'Gotham Light';
    font-size: 2rem;
    line-height: 38px;
    color: #6b4895;
    letter-spacing: -1.5px;
}

h4 {
    font-family: 'Source Sans Pro';
    font-size: 1.625rem;
    color:#080808;
    text-transform: capitalize;

}

.content-wrapper {
    width: 100%;
    max-width: 1000px;
    margin:0 auto;
    box-sizing: border-box;
}

.button {
    font-family: 'Source Sans Pro';
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: center;
    border-radius: 2px;
    padding: 17px 20px 0;
    display: inline-block;
    color: $primary-color;
    background: #c83691;
    line-height: 12px;
    box-sizing: border-box;

    &--primary {
        padding: 25px 45px 13px;
        font-size: 1rem;
        line-height: 0.75;
        letter-spacing: 0.7px;
        width: 100%;
        max-width: 243px;
    }

    &--secondary {
        padding-left: 30px;
        padding-right: 30px;
        width: 144px;
        padding-bottom: 5px;
    }

    &:hover {
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.2);
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.23)), to(rgba(0, 0, 0, 0.15))) #d749a2;
        background: linear-gradient(-180deg, rgba(255, 255, 255, 0.23) 0%, rgba(0, 0, 0, 0.15) 100%) #d749a2;
    }
}

.donors {
    display: -webkit-flex;
    display: flex;
    flex-flow: nowrap;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #e1e1e1;
    padding: 8px 9px;
    color: #080808;

    .donors__number {
        font-weight: bold;
        font-size: 12px;
        margin-top: 2px;
    }

    .donors__text {
        opacity: 0.5;
        font-size: 11px;
        margin-top: 3px;
    }

    .donors__images-wrapper {
        @include display-flex-prefix-properties;
        flex-flow: row wrap;

        .donors__images-wrapper__image {
            height: 29px;
            width: 29px;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
            border: 2px solid #ffffff;
            border-radius: 50%;

            
        }

        .image-1 {
            transform: translateX(120%);
            z-index:5;
        }
        .image-2 {
            transform: translateX(100%);
            z-index:4;
        }

        .image-3 {
            transform: translateX(80%);
            z-index:3;
        }

        .image-4 {
            transform: translateX(60%);
            z-index:2;
        }
        .image-5 {
            transform: translateX(40%);
            z-index: 1;
        }

        .image-6 {
            transform: translateX(20%);
        }  
    }
}


/*Header styles*/
#header {
    position: absolute;
    margin: auto;
    width: 100%;
    color: $primary-color;

    #nav-bar {
        @include display-flex-prefix-properties;
        justify-content: space-between;

        /*Logo Styles*/
        #logo {
            @include display-inline-flex-prefix-properties;
            padding: 23px 15px 24px 15px;
            margin-left: -15px;
            z-index: 2;

            #icon-logo {
                width: 140px;
                height: 30px;
            }

            span {  
                font-family: "Gotham Book";
                font-size: 18px;
                letter-spacing: -1px;
                line-height: 1.45;
                margin-left: 6px;
                white-space: nowrap;
                color: $primary-color;

            }     
        }

        /*End of Logo Styles*/
        .hamburger {
            display: none;
        }
        
        .menu {
            @include display-flex-prefix-properties;
            justify-content: flex-end;
            flex-flow: row wrap;
            
            li {
                @include display-inline-flex-prefix-properties;
                align-items: center;
                font-size: 14px;

                &:nth-of-type(1) {
                    font-family: "Gotham Medium";
                }

                &:nth-of-type(2) {
                    font-family: "Gotham Book";
                }

                & + li {
                    margin-left: 20px;
                }   
            }

            a {
                padding: 20px 5px;
                color: $primary-color;
            }

            .menu__button {
                font-family: 'Source Sans Pro';
                font-size: 12px;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                text-align: center;
                border: 1px solid rgba(255,255,255,0.4);
                width: 151px;
                border-radius: 2px;
                padding: 12px 25px 0;
                display: inline-block;
                box-sizing: border-box;
            }
        }
    }

    .separator {
        border-bottom: 1px solid #e8e8e8;
        width: 100%;
        opacity: 0.4;
    }

}


/*Hero section styles*/

#hero-section {
    min-height: 760px;
    background: url(../images/hero-section-bg.jpg) no-repeat center center;
	background-size: cover;
    text-align: center;
    width: 100%;
    
    .content-container {
        @include display-flex-prefix-properties;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        padding: 373px 0 50px;

        .button-wrapper {
            @include display-flex-prefix-properties;
            flex-flow: row wrap;
            justify-content: space-between;
            width: 100%;
            max-width: 505px;

            .button--primary {
                margin-top: 45px; 

                // &  + .button--primary {
                //     margin-left: 20px;
                // }
            }
           
        }
    }
}


/* Description section styles*/

#description-section {
    padding:15px 0 120px;

    .content-wrapper {
        display: -webkit-flex;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;

    }

    .description-container {
        width: 100%;
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        padding-top: 35px;

        &:nth-child(even) {
            flex-flow: row-reverse wrap;
            
            .info-block {
                padding-right: 60px;
            }

            .button {
                margin: 0;
            }
        }

        h2 {
            width: 170px;
        }

        h3 {
            margin-top: 15px;
        }
    }

    .info-block {
        @include display-flex-prefix-properties;
        flex-flow: column nowrap;
        width: 50%;
        margin-top: 50px;
        padding-right: 40px;

        p, ul {
            font-size: 	1.1250em;
            letter-spacing: 0;
            color: #585858;
            line-height: 30px;
            font-weight: 400;
            margin-top: 16px;
        }

        .button {
            margin-top: 30px;
        }

        .fa-check {
            color: #c83691;
            margin-right: 10px;
        }
    }

    .image-block {
        @include display-flex-prefix-properties;
        flex-flow: column;
        width: 50%;
        margin-top: 50px;
        align-items: center;

        img.example-1 {
            width: 100%;
            max-width: 540px;
            height: auto;
        } 

        img.example-2 {
            width: 100%;
            max-width: 340px;
            height: auto;
        }

        .donors {
            width: 100%;
            max-width: 266px;
            height: auto;
            box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.1);
            transform: translate(16%, -59%);


        }
    }
}


/* Statistic-section styles */

#statistic-section {
    background: url("../images/CF_home_partners.jpg") no-repeat center;
    background-size: cover;
    padding: 150px 0;
    position: relative;

    p {
        font-family: "Gotham Medium";
        color: $primary-color;
        font-size: 2rem;
        letter-spacing: -0.9px;
        line-height: 1.9;

        span {
            border-bottom: 8px solid rgba(255,255,255,0.35);
            padding-bottom: 10px;
        }
    }

    .logo-badge-holder {
        display: flex;
        width: 103px;
        height: 103px;
        background-color: #F7F7F7;
        border-radius: 50%;
        margin: auto;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%,-50%);
        
        .logo-badge {
            height: 47px;
            width: 64px;
            margin: auto;
        }
    }
}



/* Funds-section styles */

#section-funds {
    background: $secondary-background;
    text-align: center;

    h2 {
        width: 193px;
        text-align: left;
        margin: auto;
        padding-top: 100px;
    }
    // .content-wrapper {

    // }

    .separator-line-heading {
        position: relative;

        &::before, &::after {
            content: "";
            position: absolute;
            height: 2px;
            border-bottom: 1px solid #6b4895;
            top: 107px;
            opacity: 0.18;
            
        }

        &::before {
            right: 100%;
            margin-right: 38px;
            width: 353px;
        }

        &::after {
            left: 100%;
            margin-left: -7px;
            width: 397px;
        }
    }
    
    .fund-wrapper {
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;


        .fund-container {
            display: -webkit-flex;
            display: flex;
            margin-top: 30px;
            flex-flow: column wrap;
            width: 100%;
            max-width: 328px;
            text-align: center;
            background: $primary-color;
            position: relative;
            top: 0;
            -webkit-transition: .15s;
            transition: .15s;

            &:hover {
                top: -5px;
                -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
                box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
            }

            & + .fund-container {
                margin-left: 5px;
            }

        }

        .mini-icon {
            position: absolute;
            top: 15px;
            left: 15px;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: 2px solid #ffffff;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
        }

        h3 {
            font-size: 1.2222rem;
            width: 328px;
            font-family: 'Source Sans Pro';
            font-size: 22px;
            font-weight: normal;
            line-height: 1.55;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            position: absolute;
            top: 15px;
            text-shadow: 2px 2px 2px#555555;

            .fa.fa-check {
                background-color: #c83691;
                border: solid 1px #ffffff;
                font-size: 10px;
                border-radius: 50%;
                display: inline-block;
                border-radius: 60px;
                box-shadow: 0px 0px 2px #888;
                padding: 2px;
            }
        }

        img.fund-image {
            width: 100%;
            max-width: 328px;
            height: 328px;
        }

        h4 {
            padding-top: 25px;
            line-height: 34px;
        }

        .charity-image-holder {
            display: flex;
            flex-flow: row wrap; 
            justify-content: space-evenly;
            padding-top: 15px;

            img {
                width: 35px;
                height: 35px;
            }
        }

        p.text-funds {
            margin-top: 25px;
            font-weight: lighter;
            line-height: 28px;
            padding: 0 5px;
            color: #585858;
        }

        .donors {
            margin-top: 20px;
            border: none;
            border-top: solid 1px #e1e1e1;

            .donors__number {
                font-size: 14px;
            }

            .donors__text {
                font-size: 12px;
            }

            .donors__images-wrapper__image {
                width: 35px;
                height: 35px;
            }
        }
    }

    #grounds-block {
        color: $primary-color;
        background: $primary-color;
        margin-top: 12px;

        .content-container {
            @include display-flex-prefix-properties;
            flex-flow: row wrap;
            justify-content: space-around;
            width: 100%;
            max-width:1440px;
            margin: auto;
        }
        

        .type-1 {
            background:#7f3c08;

            .button {
                padding-bottom: 15px;
            }
        }

        .type-2 {
            background: #705623; 
            
        }

        .type-3 {
            background :#555555;
            .button {
                padding-bottom: 15px;
            }
        }

        .block {
            @include display-flex-prefix-properties;
            flex-flow: column nowrap;
            width: 476px;
            height: 330px;
            align-items: center;
            margin-top: 8px;
            padding: 0 90px;

            .fa {
                margin-top: 69px;
            }

            .fa-gift {
                font-size: 60px;
            }

            .fa-percent {
                padding-top: 5px;
                font-size: 40px;
                width: 60px;
                height: 60px;
                border: 5px solid #ffffff;
                line-height: -1px;
                border-radius: 50%;
            }

            .fa-check {
                font-size: 50px;
            }

            p {
                font-size: 1.125rem;
                margin-top: 20px;
                font-family: "Gotham Medium"; 
                line-height: 30px;
            }

            .button {
                margin-top: 15px;
                background: transparent;
                border: 1px solid #c83691;
            }
        }
    }
}

/* Section Mobile app styles */

#mobile-app {

    .content-wrapper {

        .description-container {
            width: 100%;
            display: -webkit-flex;
            display: flex;
            flex-flow: row-wrap;
            padding-top: 35px;

            .image-block {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                flex-flow: column;
                width: 50%;
                margin-top: 50px;
                align-items: center;
            }

            .info-block {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                flex-flow: column nowrap;
                width: 50%;
                margin-top: 50px;
                padding-right: 40px;
            }

            .button-holder {
                @include display-flex-prefix-properties;
                flex-flow: row wrap;
                margin-top: 10px;
                justify-content: space-around;

                a {
                    width: 144px;
                    height: 46px;

                    & + a {
                        margin-left: 5px;
                    }

                }

                a:hover  {
                    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.2);
                }
            }
        }


        ul {
            font-size: 	1.1250em;
            letter-spacing: 0;
            color: #585858;
            line-height: 30px;
            font-weight: 400;
            margin-top: 16px;
            width: 100%;
            max-width: 400px;
        }

        .fa-check {
            color: #c83691;
            margin-right: 10px;
        }

    }
}



/* MEDIA QUERIES*/

@media all and (max-width: 1200px) {

    .content-wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    #hero-section {

        .content-container {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    #mobile-app {

        .button-holder {

            a {
                margin-top: 20px;
            }
        }
    }
}


@media all and (max-width: 992px) {
     
    html {
        font-size: 90%;
    }

    #section-funds {

        .separator-line-heading {
            
            &::before, &::after {
                display: none;
            }
        }
    }
}


@media all and (max-width: 768px) {

    #header {

        #nav-bar {

            /* Hamburger icon and mobile menu styles*/
            .hamburger {
                display: -webkit-flex;
                display: flex;
                z-index: 2;
                position: absolute;
                top: 10px;
                right: 5px;
                outline-style: none;
            }

            .hamburger--stand {
                position: absolute;
                top: 10px;
                right: 4px;
            }

            .menu {
                display: none;
                background-color: #2c2e83;
                position: fixed;
                top: 0px;
                left: 50%;
                width: 100%;
                justify-content: center;
                align-items: center;
                padding: 100px 0 30px;
                flex-flow: column nowrap;
                transform: translateX(-50%);
                overflow: auto;
                min-height: 30vh;
                
                li {
                    @include display-flex-prefix-properties;
                    margin: 0;
                    padding: 10px;
                    width: 100%;
                    justify-content: center;

                    & + li {
                        margin:0;
                    }
                }

                a  {
                    @include display-flex-prefix-properties;
                    justify-content: center;
                    width: 100%;
                }
                
                .menu__button {
                    background: #c83691;
                    border: none;
                }
            }

            .active {
                @include display-flex-prefix-properties;
            }

            /* End of Hamburger icon and mobile menu styles*/

        }
    
    }

    #description-section {

        .description-container {

            &:nth-child(even) {
                 
                .info-block {
                    padding: 0;
                }
            }
        }

        .info-block {
            width:100%;
            align-items: center;
            padding: 0;

            h2 {
                width: auto;
            }
        }

        .image-block {
            width: 100%;
        }
    }


    #section-funds {

        h2 {
            width: 100%;
            text-align: center;
        }
    }


    section#mobile-app {

        .content-wrapper {

            .description-container {
                flex-flow: column;

                .info-block {
                    width:100%;
                    align-items: center;
                    padding: 0;

                    h2 {
                        width: auto;
                    }
                }
                .image-block {
                    width: 100%;
                }

            }
            
        }

       
    }

}



@media all and (max-width: 575px) {

    html {
        font-size: 80%; 
    }

    #header {

        #nav-bar {

            #logo {

                #icon-logo {
                    width: 110px;
                }

                span {
                    line-height: 2.1;
                    font-size: 13.5px;
                }
            }
        }
    }


    #hero-section {

        .content-container {

            .button-wrapper {
                flex-flow: column nowrap;
                align-items: center;
            }  
        }
    }
    
    #description-section {

        .image-block {

            .donors {
                transform: translate(0, -45%);
            }
        }
    }

    #statistic-section {
        padding: 100px 0;

        .logo-badge-holder {
            width: 50px;
            height: 50px; 

            .logo-badge {
                height: auto;
                width: 35px;
            }
        }
    }

    #section-funds {

        .fund-wrapper {

            .fund-container {

                & + .fund-container {
                    margin-left: 0px;
                }
            }
        }    
    }
}

/* END OF MEDIA QUERIES*/




/*! Hamburger menu styles*/
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: $primary-color;
    border-radius: 4px;
    position: absolute;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }


/* Stand */
.hamburger--stand .hamburger-inner {
  transition: background-color 0s 0.1s linear, -webkit-transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.1s linear;
  transition: transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.1s linear, -webkit-transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand .hamburger-inner::before {
    transition: top 0.1s 0.1s ease-in, -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand .hamburger-inner::after {
    transition: bottom 0.1s 0.1s ease-in, -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand.is-active .hamburger-inner {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: transparent;
  transition: background-color 0s 0.22s linear, -webkit-transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.22s linear;
  transition: transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.22s linear, -webkit-transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand.is-active .hamburger-inner::before {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    transition: top 0.1s 0.12s ease-out, -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    transition: bottom 0.1s 0.12s ease-out, -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }

/* End of Hamburger menu styles */